.box{
    background-color: white;
    // width: 450px;
    text-align: center;  
 }

 .space{
   width: 200px;
   margin-top: 20px;
   margin-bottom: 30px;
 }

 ion-card-title{
  font-size: 28px;
  font-weight: 600;
 }

.icon{
    font-size: 100px;
    padding-top: 40px;
}
.required-asterisk{
  color: red;

}