<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Orders To Deliver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let product of orders">
    <ion-card-header>
      <ion-card-title class="title">Order# {{product.id}}</ion-card-title>
      <ion-card-subtitle> Name: {{product.firstName}} {{product.surname}}  </ion-card-subtitle>
      <ion-card-subtitle> Phone Number: {{product.phoneNumber}}  </ion-card-subtitle>
      <ion-card-subtitle> Order Date: {{product.date}}   </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle position="stacked">Delivery Address:</ion-card-subtitle>
      {{product.streetAddress}} <br> 
      {{product.suburb}} <br> 
      {{product.city}} <br> 
      {{product.province}} <br> 
      {{product.country}} 
    
      <ion-card-subtitle class="complete">Complete Delivery</ion-card-subtitle>

        <img  src="{{userImg}}">
        <ion-button color="secondary" (click)="openGallery()"><ion-icon name="images"></ion-icon></ion-button>
        <ion-button color="primary" (click)="openCamera()"><ion-icon name="camera"></ion-icon></ion-button>
        <ion-button class="cartButton" color="success" (click)="createOrder(product)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>

