<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Orders To Deliver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Natuutrlik</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let product of orders">
    <ion-card-header>
      <ion-card-title>Order# {{product.id}}</ion-card-title>
      <ion-card-subtitle> Name: {{product.firstName}} Surname: {{product.surname}}  </ion-card-subtitle>
      <ion-card-subtitle> PhoneNumber: {{product.phoneNumber}}  </ion-card-subtitle>
      <ion-card-subtitle> OrderDate: {{product.date}}   </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label position="stacked">Delivery Address:</ion-label>
      {{product.country}} {{product.province}} {{product.city}} {{product.suburb}} {{product.streetAddress}}
        <ion-item class="task">
         
          <ion-label class="tasks" position="stacked">Complete Task</ion-label>
        
        </ion-item>
    
        <ion-button class="cartButton" color="primary" (click)="createOrder(product)"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>

